.left{
    width: 20%;
    float: left;
    color: black;
    padding-left: 30px;
    border-right: 3px solid cornflowerblue;
  }
  .right{
    float: right;
    width: 80%;
    position: relative;
    }
  .navbar{
      padding-left: 100px !important;
  }
#phones{
    position: relative;
    cursor: pointer;
}
#computers{
    cursor: pointer;
    position: relative;
}
#companies_c{
    display: none;
    margin-left: 40px;
}
#companies_p{
    display: none;
    margin-left: 40px;
}